* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


[class*="col-"] {
    flex: 0 0 auto;
}

.col {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}


.col-1 {
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);




}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col-5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col-7 {
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);

}

.col-9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col-11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
    overflow: hidden;
}

.p-box {
    padding: 17px;
}



.card-small {
    height: 375px;
    background: linear-gradient(#5679E8, #6FA5EA);
    color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 5px 1px 10px rgb(0 0 0 /30%);
    padding: 10px;
    margin: 48px 20px;
    max-width: 600px;
    position: relative;
    z-index: 20;




}



.search-local {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.sez-title {
    font-size: 25px;
    color: rgb(3, 3, 109);
    margin-left: 5px;
    padding: 10px;
    align-self: first baseline;

}


.city-add-local {
    background: linear-gradient(#5679E8, #6FA5EA);
    color: #f1f1f1;
    border-radius: 20px;
    box-shadow: 5px 1px 10px rgb(0 0 0 /30%);
    padding: 10px;
    width: 350px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tab-button {
    padding: 7px 17px;
    background-color: #fffcfc;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: rgb(3, 3, 109);
    cursor: pointer;
    float: left;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    top: 0px;
    left: 30px;
    z-index: 2;

}

.tab-button.active {
    background: linear-gradient(#5679E8, #6FA5EA);
    color: white;

}