.card-desk {
  background: #8abddc;
  color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 5px 1px 10px rgb(0 0 0 /30%);
  padding: 140px;
  margin: 5px;
  height: 45vh;
  margin: 20px;
  background-image: url('../../../../public/why-sky-blue-2db86ae.jpg');
  background-size: cover;
  position: relative;

}

.card-text {
  padding: 5px;
  font-size: 25px;
  text-shadow: 1px 1px 2px rgb(107, 107, 107);


}

.card-popup {
  position: absolute;
  top: 70px;
  left: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: linear-gradient(#5679E8, #6FA5EA);
  color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 5px 1px 10px rgb(0 0 0 /30%);
  padding: 10px;

}