@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;



}

.city-list-bg {
  background-color: #f1f1f1;
  height: 100vh;
}

.main-card-bg {
  background: linear-gradient(#5679E8, #6FA5EA);
  color: white;
  height: 100vh;
}

.app {
  max-width: 100%;
  padding: 10px;
  color: white;

}


.city-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

}

.city-list>h2,
.addCity {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(3, 3, 109);
  text-align: center;
}

.city-item {
  background: linear-gradient(90deg, rgb(25, 138, 237) 0%, rgba(154, 201, 227, 1) 0%, rgba(138, 187, 219, 1) 60%);
  color: #f1f1f1;
  border-radius: 20px;
  box-shadow: 5px 1px 10px rgb(0 0 0 /30%);
  padding: 5px;
  max-width: 360px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp-item {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1px;

}

.weather-forecast {
  margin-top: 20px;
}

.forecast-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.weather-forecast {
  margin-top: 20px;
}

.forecast-container {
  display: flex;
  flex-wrap: wrap;
}

.forecast-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  width: 150px;
  text-align: center;
}








@media screen and (min-width: 721px) {
  body {
    background-color: #f1f1f1;
  }

  .city-list>h2 {
    display: none;
  }



}